<%= form_for( [@post, @post.comments.build] ) do |f| %>
	<p>
		<%= f.label :commenter %><br>
		<% if current_user %>
			<%= f.text_field :commenter, :value => current_user.username %><br>
		<% else %>
			<%= f.text_field :commenter %><br>
		<% end %>
	</p>

	<p>
		<%= f.label :body %><br>
		<%= f.text_area :body %><br>
	</p>

	<p>
		<%= f.submit %><br>
	</p>
<% end %>