<h1>
	Listing posts
</h1>

<% if admin_rights %>
	<p>
		<%= link_to 'New post', new_post_path %>
	</p>
<% end %>

<table>
	<tr>
		<th>
			Title
		</th>
		
		<th>
			Text
		</th>

		<th>
		</th>
		
		<% if admin_rights %>
			<th>
			</th>

			<th>
			</th>
		<% end %>
	</tr>
	
	<% @posts.each do |post| %>
		<tr>
			<td>
				(<%= post.comments.length %>)
				<%= post.title %>
			</td>

			<td>
				<%= truncate( post.text, :length => 20 ) %>
			</td>
			
			<td>
				<%= link_to 'Show', post %>
			</td>

			<% if admin_rights %>
				<td>
					<%= link_to 'Edit', edit_post_path( post ) %>
				</td>
			<% end %>

			<% if admin_rights %>
				<td>
					<%= link_to 'Destroy', post_path( post ), method: :delete, 
						data: { confirm: 'Are you sure?'} %>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>
